<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home'%}">Planner</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'planner:planner' %}">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'planner:all_events' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'planner:add_event' %}">Create</a>
        </li>
        {% comment %} new links below {% endcomment %}

        {% comment %} new links above {% endcomment %}
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'user_auth:logout' %}">Logout</a>
              </li>
              {% if request.user.is_superuser %}
                <li class="nav-item">
                  <a class="dropdown-item" href="{% url 'user_auth:approve_users' %}">Aprove</a>
                </li>
              {% endif %}
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_auth:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_auth:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
