{% extends "base.html" %}
{% block content %}

  <h1>{{event.name}}</h1>
  <h2>{{event.event_date}}</h2>
  <br/>
  <br/>
  <br/>

    <p class="card-text"><strong>Location:</strong> {{event.location}}</p>
    <p class="card-text"><strong>Description:</strong> {{event.description}}</p>
    <p class="card-text"><strong>Arranged by:</strong> {{event.manager}}</p>
    <p class="card-text">
    {% if event.multi_person == True %}
      <p class="card-text"><strong>Attendees: </strong></p>
    {% endif %}
    {% if attendees|length > 0 %}
        {% for attendee in attendees.all %}
          <ul>
            <li>{{attendee.username}}</li>
          </ul>
        {% endfor %}
      </li>
    {% endif %}
    </p>
    {% if event.multi_person == True and user != event.manager and user not in event.attendees.all %}
      <a href="{% url 'planner:join_event' event.id %}" class="btn btn-primary">Join</a>
    {% endif %}
    {% if user in event.attendees.all %}
      <a href="{% url 'planner:leave_event' event.id %}" class="btn btn-primary">Leave</a>
    {% endif %}
    {% if user == event.manager %}
      <a href="{% url 'planner:edit_event' event.id %}" class="btn btn-secondary">Edit</a>
      <a href="{% url 'planner:delete_event' event.id %}" class="btn btn-danger">Delete</a>
    {% endif %}

{% endblock %}