{% extends "base.html" %}
{% block content %}

<h1>Events</h1>

{% for event in event_list %}
  <a href="{% url 'planner:event' event_id=event.id %}">
    <div class="card">
      <div class="card-header">
        {{event.event_date}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{event.location}}</p>
        <p class="card-text"><strong>Description:</strong> {{event.description}}</p>
        <p class="card-text"><strong>Arranged by:</strong> {{event.manager}}</p>
        <p class="card-text">
          {% if attendees|length > 0 %}
          <li>Attendees: 
            {% for attendee in event.attendees.all %}
              <ul>
                <li>{{attendee}}</li>
              </ul>
            {% endfor %}
          {% endif %}
      </li>
        </p>
        {% comment %} <a href="#" class="btn btn-primary">Sign Up</a> {% endcomment %}
      </div>
    </div>
  </a>
  <br/>

{% endfor %}
{% endblock %}