{% extends "base.html" %}
{% block content %}

<h1>Events</h1>

{% for event in event_list %}
  <div class="card">
    <div class="card-header">
      {{event.event_date}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text"><strong>Location:</strong> {{event.location}}</p>
      <p class="card-text"><strong>Description:</strong> {{event.description}}</p>
      <p class="card-text"><strong>Arranged by:</strong> {{event.manager}}</p>
      <p class="card-text">
        <li>Attendees: 
          {% for attendee in event.attendees.all %}
            <ul>
              <li>{{attendee}}</li>
            </ul>
          {% endfor %}
    </li>
      </p>
      <a href="#" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
  <br/>

{% endfor %}
{% endblock %}