{% extends "base.html" %}
{% block content %}
<h1 class="Text Center">Log In</h1>
<br/>

<div class='col-md-6 offset-md-3'>

  <form method="POST" action="{% url 'user_auth:login' %}">
    {% csrf_token %}
    <div class='form-group'>
      <input type='text' class="form-control" placeholder="username" name='username'>
      <input type='password' class="form-control" placeholder="password" name='password'>
    </div>
    <input type="submit" value="Log In" class="btn btn-secondary">
  </form>
</div>
{% endblock %}